.input-container {
  display: flex;
  flex-direction: column;
}

#add-input-btn {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
}

#add-input-btn:hover {
  background-color: #0062cc;
}

.new-input {
  margin-top: 10px;
}
.submit-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: darkgreen;
}

.chatholder {
  width: 90%;
  background-color: #ffffff;
  overflow: auto;
  margin: 0 auto;
  margin-top: 0.5em;
  padding-bottom: 5%;
}
#card-title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: black;

}

input{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.response{
  background-color: #ffffff;
  margin: 10px 0;
  border-radius: 5px;
  width: 80%;
  clear: both;
  color: black;
  margin: 0 auto;
  height: auto;
}